<footer class="text-center text-lg-start fixed-bottom" style="height:100px">
  <p class="text-center text-white p-3">Contacter nous au aaa@aaa.fr</p>
    {# <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: darkcyan;">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/%22%3EMDBootstrap.com">toto</a>
    </div>
    <!-- Copyright --> #}
</footer>